/*Base*/

:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

/*Menu*/

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 15px;
}

header nav a:hover {
    color: #ffffff;
}

nav .dropdown {
    display: none;
}

nav .drop {
    cursor: pointer;
}

nav .dropdown-items {
    display: none;
    position: absolute;
}

nav .dropdown-items a {
    display: block;
}

nav .dropdown:hover .dropdown-items {
    display: block;
}

/*Filme principal*/

.container {
    margin-left: 20px;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/oitnb-bg.jpg');
    background-size: cover;
    background-position: center;

    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container {
    width: 70%;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    transition: .3s ease-in all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

/*Carrossel de filmes*/

.carrossel-filmes {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.carrossel-filmes header {
    margin-bottom: 5px;
    font-size: 20px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 65vw;
}

.contato {
    color: #aaaaaa;
    font-size: 28px;
}

.contato i {
    margin: 0 15px 0 0;
}

.ajuda ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ajuda ul li {
    margin-top: 10px ;
}

.ajuda ul li a {
    color: #aaaaaa;
}

.ajuda ul li a:hover {
    text-decoration: underline;
}